*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3rem;;
}
img{
    max-width: 80%;
    height: auto;
}
span{
    color:orange;
}
.btn{
    text-decoration: none;
    font-size:1.8rem;
    background-image: linear-gradient(orange,tomato);
    color:white;
    padding:5px 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
}
/* hero part design */
.hero-part{ 
    display: flex;
    background-image: url(img/top-banner.png);
    background-size:cover;
    
}
.half-side{
    padding-left: 5%;
    width:50%;

}